*.gem
*.rbc
.bundle
.config
.yardoc
credentials
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
LittleWeasel.sublime-*
scratch.txt
readme.txt
